.content{
    background: linear-gradient(to bottom, #333, black, #333);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}
.content img{
    width: 30%;
    height: 56.25%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.content img:hover{
    transform: scale(1.4,1.4);
}