.container{	
	width: 100%;
	height: 100%;
}

.image{
	width: 100%;
	height: 56.25%;
}

.image2{
	width: 100%;
	height: 56.25%;
}
.text{
	height: 0px;
	background-color: transparent;
	color: #E50914;
	position: relative;
	display: flex;
}

.text1{
	top: 50%;
	left: -40px;
	font-size: 12vw;
}

.text2{
	top: 10px;
	right: 10px;
	float:right;
	font-size: 6vw;
	text-align: right;
}


.cimage{

}

.cimage2{
}