.container{	
	width: 100%;
	height: 100%;
}

.Personatge img{
	width: 20%;
	height: 56.25%;
}

.text{
	height: 0px;
	background-color: transparent;
	color: #E50914;
	position: relative;
	display: flex;
}